<% content_for :head do %>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>
<% end %>

<div id="webcam">
  <p>Webcam, where are you?</p>
</div>